<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grab.mapper.AccountMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.grab.domain.Account">
                    <result column="id" property="id" />
                    <result column="chain_id" property="chainId" />
                    <result column="address" property="address" />
                    <result column="create_ts" property="createTs" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, chain_id, address, balance, create_ts
        </sql>

</mapper>
